
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block title %}Courses{% endblock %}

{% block content %}
<h2 class="page-title">Our Courses</h2>

<div class="course-grid">
    {% for course in courses %}
        <div class="course-card">
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.title }}">
            {% endif %}

            <h3>{{ course.title }}</h3>
            <p>{{ course.description|truncatewords:18 }}</p>
            <p class="price">₹{{ course.price }}</p>

            <a href="{% url 'enroll' course.id %}" class="btn-sm dark">
                Enroll Now
            </a>
        </div>
    {% empty %}
        <p>No courses available.</p>
    {% endfor %}
</div>
{% endblock %}


</body>
</html>