<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
</head>
<body>
  {% extends 'base.html' %}
{% block title %}My Courses{% endblock %}

{% block content %}
<h2 class="page-title">My Enrolled Courses</h2>

<div class="course-grid">
    {% for enroll in enrollments %}
        <div class="course-card">
            {% if enroll.course.image %}
                <img src="{{ enroll.course.image.url }}" alt="{{ enroll.course.title }}">
            {% endif %}

            <h3>{{ enroll.course.title }}</h3>
            <p>{{ enroll.course.description|truncatewords:18 }}</p>
            <p><b>Duration:</b> {{ enroll.course.duration }}</p>
            <p class="price">₹{{ enroll.course.price }}</p>
        </div>
    {% empty %}
        <p>You have not enrolled in any course yet.</p>
    {% endfor %}
</div>
{% endblock %}



</body>
</html>