{% extends 'base.html' %}
{% block title %}My Courses{% endblock %}

{% block content %}
<section class="dark-section">
    <h2 class="left-title">My Enrolled Courses</h2>

    {% if enrollments %}
        <div class="courses-grid">
            {% for enroll in enrollments %}
            <div class="course-card-dark">

                {% if enroll.course.image %}
                <div class="course-image">
                    <img src="{{ enroll.course.image.url }}" alt="{{ enroll.course.title }}">
                </div>
                {% endif %}

                <div class="course-body">
                    <h3>{{ enroll.course.title }}</h3>

                    <p class="course-desc">
                        {{ enroll.course.description|truncatechars:90 }}
                    </p>

                    <span class="enrolled-tag">ENROLLED</span>
                </div>

                <a href="#" class="view-btn">
                    Continue Learning
                </a>

            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-state">
            <h3>You have not enrolled in any courses yet.</h3>
            <a href="{% url 'course_list' %}" class="hero-btn small">
                Browse Courses
            </a>
        </div>
    {% endif %}
</section>
{% endblock %}
