{% extends 'base.html' %}
{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<section class="dark-section course-detail-section">

    <div class="course-detail-wrapper">

        <!-- LEFT : IMAGE -->
        {% if course.image %}
        <div class="course-detail-image">
            <img src="{{ course.image.url }}" alt="{{ course.title }}">
        </div>
        {% endif %}

        <!-- RIGHT : CONTENT -->
        <div class="course-detail-content">
            <h1>{{ course.title }}</h1>

            <p class="course-detail-desc">
                {{ course.description }}
            </p>

            <div class="course-detail-price">
                ₹ {{ course.price }}
            </div>

            <div class="course-detail-actions">
                <a href="{% url 'add_to_cart' course.id %}" class="hero-btn">
                    Add to Cart
                </a>

                <a href="{% url 'course_list' %}" class="back-link">
                    ← Back to Courses
                </a>
            </div>
        </div>

    </div>

</section>
{% endblock %}
